<!DOCTYPE html>
<html>
<head>
    <title>User Admin Page</title>
    <meta charset="utf-8"/>
</head>
<body style="font-size:20px; font-family:Consolas">
<h2>User administration</h2>
<h3>Users</h3>
<ul class="users-list">
    {{# users }}
    <li>
        <a href="/admin/modifyUser/{{ username }}">{{ fullName }} | {{ username }}</a>
        <a href="/admin/deleteUser/{{ username }}"><button>Delete</button></a>
    </li>
    {{/ users }}
    {{^ users }}
    No users
    {{/ users }}
</ul>
    <ul><a href="/admin/addUser"><button>+ create a new user</button></a></ul></br>
</body>
</html>


