<!DOCTYPE html>
<html>
<head>
    <title>User Admin Page</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome to the user administration page</h1>
<h3>Users</h3>
<ul class="users-list">
    {{#each users}}
    <li>
        <form action="/admin/modifyUser/modify" method="POST">
            <a href="/admin/modifyUser/{{this}}">{{this}}</a>
        </form>
        <form action="/admin/deleteUser/delete" method="POST">
            <a href="/admin/deleteUser/{{this}}">Delete</a>
        </form>
    </li>
    {{/each}}
</ul>
    <ul><a href="/admin/addUser">Create a new user</a></ul></br>
</body>
</html>
