<!DOCTYPE html>
<html>
<head>
    <title>User Admin Page</title>
    <meta charset="utf-8"/>
</head>
<body style="font-size:20px; font-family:Consolas">
<h3>Home</h3>
<ul class="users-list">
        <a href="/uploadImage"><button>Upload an image</button></a><br />
        <a href="/viewImages"><button>View images</button></a><br />
        <a href="/admin"><button>User admin</button></a><br />
</ul>
</body>
</html>


