<!DOCTYPE html>
<html>
<head>
    <title>User Admin Page</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome to the user administration page</h1>
<h3>Modify user {{user}}</h3>
<form action="/admin/modifyUser/{{user}}/modify" method="POST">
    New password: <input type="text" name="password" value="" /><br />
    New full name: <input type="text" name="fullName" value="" /><br />
<input type="submit" value="Modify" />
</form>
</body>
</html>
