<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <meta charset="utf-8"/>
    </head>
    <body style="font-size:20px; font-family:Consolas">
        <h3>Users</h3>
        {{# users }}
            <li><a href="/admin/viewUser/{{ username }}">{{ fullName }} {{ username }})</a>
            --
            <li><a href="/admin/deleteUser/{{ username }}">Delete</a></li>
        {{/ users }}
        {{^ users }}
            No users
        {{/ users }}
    </body>
</html>


